<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="webjars/bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">

    <title>Admin panel</title>
</head>
<body>

<!---------------------HEADER------------------------------->
<div class="container-fluid">
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" id="userInfo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDark"
                    aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse show  justify-content-end" id="navbarDark">
                <form class="d-flex" id="logoutForm" method="post" action="/logout"> 
                    
                </form>
                
            </div>
        </div>
    </nav>
    <!-------------------LEFT navigation tab-------------------->
    <div class="row">
        <div class="col-2">
            <br/>
            <div class="align-content-md-stretch">
                <div class="nav flex-column nav-pills md-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                       role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                       role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
                </div>
            </div>
            <!-------------------LEFT navigation tab END-------------------->
        </div>
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <div class="page-header">
                        <h2>Admin panel</h2>
                    </div>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true">Users table</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">New user</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="card">
                                <h5 class="card-header">All users</h5>
                                <div class="card-body">
                                    <!----------TABLE BELOW-------------->
                                    <table class="table table-striped table-sm" id="usersTable">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-------------NEW USER-->
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="card">
                                <h3 class="card-header"> Create user</h3>
                                <div class="card-body">
                                    <div class="container mt-2 col-sm-4 text-center">
                                        <form id="newUserForm">
                                            <div class="form-group">
                                                <label for="firstName" class="font-weight-bold">First name</label>
                                                <input type="text" class="form-control" id="firstName" name="firstName" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="lastName" class="font-weight-bold">Last name</label>
                                                <input type="text" class="form-control" id="lastName" name="lastName" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="age" class="font-weight-bold">Age</label>
                                                <input type="number" class="form-control" id="age" name="age" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="setEmail" class="font-weight-bold">Email</label>
                                                <input type="email" class="form-control" id="setEmail" name="email" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="setPassword" class="font-weight-bold">Password</label>
                                                <input type="password" class="form-control" id="setPassword" name="password">
                                            </div>
                                            <div class="form-group">
                                                <label for="addRoles" class="font-weight-bold"></label>
                                                <select class="form-select" id="addRoles" multiple>
                                                    
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-success" id="newUserBtn">Add new user</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <!--------------------------AUTHENTICATED USER PAGE------------------------->
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="page-header">
                        <h2>User information-page</h2>
                    </div>
                    <div class="card">
                        <h5 class="card-header">About user</h5>
                        <div class="card-body">
                            <table class="table table-striped table-sm" id="authTable">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody>
                
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div> 
                <div class="modal fade" id="someDefaultModal" tabindex="-1" role="dialog" aria-labelledby="someDefaultModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                
                            <div class="modal-body">
                            </div>
                
                            <div class="modal-footer">
                            </div>
                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-----------END OF header container------------>
</div>


<!-- Option 2: Separate Popper and Bootstrap JS -->

<script src="webjars/jquery/3.5.1/jquery.js"></script>
<script src="webjars/popper.js/1.16.0/umd/popper.js"></script>
<script src="webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
<script src="/js/app.js"></script>

</body>
</html>