<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Admin user view</title>
</head>
<body>

<p th:text="${user.getId()}">value</p>
<p th:text="${user.getFirstName()}">value</p>
<p th:text="${user.getLastName()}">value</p>
<p th:text="${user.getAge()}">value</p>
<p th:text="${user.getEmail()}">value</p>
<p th:text="${user.getAuthorities()}">value</p>


<form th:method="GET" th:action="@{/admin/{id}/edit(id=${user.getId()})}">
    <input type="submit" value="Edit user info"/>
</form>
<br/>
<form th:method="POST" th:action="@{/admin/{id}/delete(id=${user.getId()})}">
    <input type="submit" value="Delete this user"/>
</form>
<br/>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>