<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="webjars/bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">

    <title>Admin panel</title>
</head>
<body>

<!---------------------HEADER------------------------------->
<div class="container-fluid">
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" id="userInfo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDark"
                    aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse show  justify-content-end" id="navbarDark">
                <form class="d-flex" id="logoutForm" method="post" action="/logout">

                </form>

            </div>
        </div>
    </nav>
    <!-------------------LEFT navigation tab-------------------->
    <div class="row">
        <div class="col-2">
            <br/>
            <div class="align-content-md-stretch">
                <div class="nav flex-column nav-pills md-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                       role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
                </div>
            </div>
            <!-------------------LEFT navigation tab END-------------------->
        </div>
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <div class="tab-content" id="myTabContent">
                        <!--------------------------AUTHENTICATED USER PAGE------------------------->
                        <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel"
                             aria-labelledby="v-pills-profile-tab">
                            <div class="page-header">
                                <h2>User information-page</h2>
                            </div>
                            <div class="card">
                                <h5 class="card-header">About user</h5>
                                <div class="card-body">
                                    <table class="table table-striped table-sm" id="authTable">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <!-----------END OF header container------------>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


            <!-- Option 2: Separate Popper and Bootstrap JS -->

            <script src="webjars/jquery/3.5.1/jquery.js"></script>
            <script src="webjars/popper.js/1.16.0/umd/popper.js"></script>
            <script src="webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
            <script src="/js/app.js"></script>

</body>
</html>